<ion-header>
    <ion-toolbar>
        <ion-title>Game of Live</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div #game id="game">

        <div class="control-panel">
            <div class="logo-container">
                <div class="logo"></div>
            </div>

            <button class="ctrl-button" id="btn_start" (click)="game_on_off()">Start</button>
            <button class="ctrl-button" id="btn_tick" (click)="next_generation()">Tick</button>
            <button class="ctrl-button" id="btn_create_world" (click)="create_world()">Create World</button>
            <button class="ctrl-button" id="btn_reset" (click)="reset()">Reset</button>
        </div>

        <canvas #world id="world" (click)="addUnit($event)"></canvas>

        <div #info_panel class="info_panel">
            <span class="info_generation">Generation: </span>   <span #info_generation>0</span>

            <span class="separator">|</span>

            <span class="info_lifecell">Life cell: </span>      <span #info_lifecell>0</span>

            <span class="separator">|</span>

            <span class="info_speed">Speed: </span>            <span #info_speed>0</span>

            <span>ms</span>

        </div>
    </div>
</ion-content>